@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-montserrat);
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  /* .btn-primary {
    @apply px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors duration-200 font-medium;
  } */
 
}
